<!DOCTYPE HTML>
<html>
	<head>
		<title>·Fractum!</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="../../Recursos/js/jquery.min.js"></script>
		<script src="../../Recursos/js/skel.min.js"></script>
		<script src="../../Recursos/js/skel-layers.min.js"></script>
		<script src="../../Recursos/js/initInterno.js"></script>
		<script src="../../Recursos/js/Validaciones.js"></script>
		<noscript>
			<link rel="stylesheet" href="../../Recursos/css/skel.css" />
			<link rel="stylesheet" href="../../Recursos/css/style.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
		</noscript>
	</head>
	
	<body class="left-sidebar">
		<div id="wrapper"><!--WRAPPER-->
			<div id="content"><!--CONTENIDO-->
				<div class='inner'>
				<h1 id='headerInterno'><a>- MAQUINA: $nombreMaquina -</a></h1> <!--SECCIÓN-->
				<!--INICIO TABLA-->
				<br>
				<form name='consultarMaquina' id='consultarMaquina' onsubmit='' action='' method='post'>
				<div style='height:350px;width:auto;overflow-y: scroll;'>
					<table class='default'>
					<tr>
						<td>ID Maquina:</td>
						<td><input type='text' disabled value='$idMaquina' / name='idMaquina'></td>
						<td>Numero de serie:</td>
						<td><input type='text' disabled value='$numSerie' / name='numSerie'></td>
					</tr>
					<tr>
						<td colspan='4'>Descripcion:</td>
					</tr>
					<tr>	
                        <td colspan='4'>
							<textarea style="resize:none" rows="4" name='descripcionApertura' disabled>
							BREVE DESCRIPCION DE LA MAQUINA
							</textarea>
						</td>
                    </tr>
					<tr>
						<td>Documentacion:</td>
                        <td><img src="../../Recursos/images/PDF.png"></td>
                        <td colspan="2"><a href='altaIncidencia.html'><input type='button' value='Alta Incidencia'></a></td>
					</tr>
                	</table>
                 	</div>
					<br>
				</form>
				<h1 id="headerInterno"><a><i>INCIDENCIAS RELATIVAS</i></a></h1>
				<form method="POST" action="">
						<table class="default">
							<tr> 
								<td width="20%">ID001</td> 
								<td width="20%"><a href="consultarMaquina.html">Maquina1</a></td> 
								<td width="20%">Usuario3</td> 
								<td width="20%">Abierta</td>
								<td width="15%"><a href="consultarTrabajoIncidencia.html">IT001</a></td>
								<td width="5%"><a href="consultarIncidencia.html">Consultar</a></td>
							</tr>
							<tr> 
								<td width="20%">ID003</td> 
								<td width="20%"><a href="consultarMaquina.html">Maquina1</a></td>
								<td width="20%">Usuario1</td> 
								<td width="20%">Pendiente de cierre</td>
								<td width="15%"><a href="consultarTrabajoIncidencia.html">IT003</a></td>
								<td width="5%"><a href="consultarIncidencia.html">Consultar</a></td>
							</tr>
							<tr> 
								<td width="20%">ID004</td> 
								<td width="20%"><a href="consultarMaquina.html">Maquina1</a></td> 
								<td width="20%">Usuario1</td> 
								<td width="20%">En curso</td>
								<td width="15%"><a href="consultarTrabajoIncidencia.html">IT003</a></td>
								<td width="5%"><a href="consultarIncidencia.html">Consultar</a></td>
							</tr>
			 			</table>
				</form>
				  <!-- FIN TABLA -->
				</div>
			</div>
		</div>


		
		
		
        <div id="sidebarInterno"> <!--BARRA LATERAL-->
			<h1 id='logo'><a href='homeInterno.html'>·Fractum!</a></h1> 	
                <nav id='nav'> 
              		<ul>
                		<div align='center'>
                       		<li class='current'>
                            	<a href='perfilInterno.html'>
                            		<img src='../../Recursos/images/DefaultAvatar.png'><em><strong><br>".$operarioInterno."</strong></em><strong></strong></img>
                            	</a>
                         	</li>
							<!--NOTIFICACIONES-->		
							<li class='current'><a href='listarPendienteCierre.html'>Pendientes: <span class="badge">100</span></a></li>
							<!-- FIN NOTIFICACIONES-->
							<li class='current'><strong><a href='listarIncidencias.html'>Listar Incidencias</a></strong></li>
							<li class='current'><a href='altaIncidencia.html'>Alta incidencia</a></li>
							<li class='current'><a href='listarMaquinas.html'>Listar maquinas</a></li>
                            <li class='current'><a href='mailto:jefe@fractum.com?cc=administracion@fractum.es'>Contacto jefe</a></li>
							<li class='current'><a href='#' id='Logout_Usuario' onclick ='return Salir_Usuario()'> > Log Out</a></li>
                            <form method='POST' action='#' style='text-align:center'>
                        	<section class='box search'>
								<input type='text' name='busqueda' placeholder='Buscar...'/>
                      		</section>
								<div hidden><input type='submit' name='buscar'/></div>
                            </form>
                      	</div>
					</ul>
				</nav>
		</div>
		<!-- FIN BARRA LATERAL -->
	</body>
</html>