<!DOCTYPE HTML>
<html>

	<head>
		<title>·Fractum!</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="../../Recursos/js/jquery.min.js"></script>
		<script src="../../Recursos/js/skel.min.js"></script>
		<script src="../../Recursos/js/skel-layers.min.js"></script>
		<script src="../../Recursos/js/initInterno.js"></script>
		<script src="../../Recursos/js/Validaciones.js"></script>
		<noscript>
			<link rel="stylesheet" href="../../Recursos/css/skel.css" />
			<link rel="stylesheet" href="../../Recursos/css/style.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
		</noscript>
	</head>
		
	<body class="left-sidebar">
		<div id="wrapper"><!--WRAPPER-->
			<div id="content"><!--CONTENIDO-->
			<div class="inner"> 
				<!--INICIO SECCIÓN-->
            	<h1 id="headerInterno"><a><i>NUEVA INCIDENCIA</i></a></h1>

            	<form name='FormAltaIncidencia' action='' method='post'>
					<div style='height:350px;width:auto;overflow-y: scroll;'>
							<table class='default'>
							   <tr>
									<td>Apertura:</td>
									<td><input type='text' class='text' name='idOperarioInterno' value='$USUARIO' disabled></td>
									<td>Fecha Apertura:</td>
									<td><input type='date' name='fechaApertura' value='$fechaSistema' disabled></td>
								</tr>
								
								<tr>
										<td>Maquina:</td>
									<td colspan='3'>
										<select name='idMaquina'>
										  <option value='NULL' selected>-</option>
										  <option value='Maquina1'>Maquina1</option>
										  <option value='Maquina2'>Maquina2</option>
										  <option value='Maquina3'>Maquina3</option>
										</select> 		
									 </td>
								</tr>
										
								<tr>
									<td colspan='5'>Descripcion:</td>
								</tr>
								<tr>
									<td colspan='5'><textarea style="resize:none" class="text" rows="5" name='descripcionApertura' required></textarea></td>
								</tr>
										
							</table>
					</div>
					
                <table>
							<tr> 
								<th width="40%">
									<input type='button' name='accion' value='volver'>
								</th>
								<th width="40%">
									<input type='submit' name='accion' value='alta'>
								</th>
								<th width="20%">
								</th>
							</tr>
                </table>
				</form>
				<!--FIN SECCIÓN-->
			</div> <!--FIN INNER-->
		</div> <!--FIN CONTENIDO-->
		</div> <!--FIN WRAPPER-->
		
		
		
        <div id="sidebarInterno"> <!--BARRA LATERAL-->
			<h1 id='logo'><a href='homeInterno.html'>·Fractum!</a></h1> 	
                <nav id='nav'> 
              		<ul>
                		<div align='center'>
                       		<li class='current'>
                            	<a href='homeInterno.html'>
                            		<img src='../../Recursos/images/DefaultAvatar.png'><em><strong><br>".$operarioInterno."</strong></em><strong></strong></img>
                            	</a>
                         	</li>
							<li class='current'><strong><a href='listarIncidencias.html'>Listar Incidencias</a></strong></li>
							<li class='current'><a href='altaIncidencia.html'>Alta incidencia</a></li>
							<li class='current'><a href='listarMaquinas.html'>Listar maquinas</a></li>
                            <li class='current'><a href='#'>Contacto jefe</a></li>
							<li class='current'><a href='#' id='Logout_Usuario' onclick ='return Salir_Usuario()'> > Log Out</a></li>
                            <form method='POST' action='#' style='text-align:center'>
                        	<section class='box search'>
								<input type='text' name='busqueda' placeholder='Buscar...'/>
                      		</section>
								<div hidden><input type='submit' name='buscar'/></div>
                            </form>
                      	</div>
					</ul>
				</nav>
		</div>
		<!-- FIN BARRA LATERAL -->


		

	</body>
</html>



