<!DOCTYPE HTML>
<html>

	<head>
		<title>·Fractum!</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="../../Recursos/js/jquery.min.js"></script>
		<script src="../../Recursos/js/skel.min.js"></script>
		<script src="../../Recursos/js/skel-layers.min.js"></script>
		<script src="../../Recursos/js/initInterno.js"></script>
		<script src="../../Recursos/js/Validaciones.js"></script>
		<noscript>
			<link rel="stylesheet" href="../../Recursos/css/skel.css" />
			<link rel="stylesheet" href="../../Recursos/css/style.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
		</noscript>
	</head>
	
	<body class="left-sidebar">
		<div id="wrapper"><!--WRAPPER-->
			<div id="content"><!--CONTENIDO-->
				<div class='inner'>
				<h1 id='headerInterno'><a>- TRABAJANDO $IDincidencia -</a></h1> <!--SECCIÓN-->
				<!--INICIO TABLA-->
				<br>
				<form name='' id='FormDetalle_Tarea' onsubmit='return Confirmar_EliminacionTarea()' action='' method='post' enctype="multipart/form-data">
				<div style='height:350px;width:auto;overflow-y: scroll;'>
					<table class='default'>
                   	<tr>
						<td>Operario Alta:</td>
						<td><input type='text' disabled value='$idOperario' / name='idOperario'></td>
						<td>Hora Inicio:</td>
						<td><input type='text' disabled class='text' value='$horaSistema'/ name='Estado_Tarea' id='Estado_Tarea'></td>
					</tr>
					<tr>
						<td>ID Incidencia:</td>
						<td><input type='text' disabled value='I001'></td>
						<td>Nombre Maquina:</td>
						<td><input type='text' disabled value='$nombreMaquina'></td>
					</tr>
					<tr>
						<td>Fecha Creacion:</td>
						<td><input type='date' disabled class='text' value='' / name='Nombre_Tarea'></td>
						<td>Coste Trabajo:</td>
                        <td><input type='text' value=''></td>
					</tr>
					<tr>
						<td colspan='4'>Descripcion:</td>
					</tr>
					<tr>	
                        <td colspan='4'>
							<textarea style="resize:none" rows="5" name='descripcionApertura'>
							</textarea>
						</td>
                    </tr>
					<tr>
						<td>Documentacion:</td>
					</tr>
					<tr>
						<td colspan='4'><input type='file' name='documentacionTrabajo'></td>
					</tr>
                	</table>
                 	</div>
                    <table>
						<tr> 
						<td width='25%'><input type='button' value='GUARDAR TRABAJO'> </td>
						<td width='25%'><input type='button' value='CERRAR TRABAJO'> </td>
						<td width='25%'><a href="consultarIncidencia.html"><input type='button' value='ATRAS'></a></td>
						</tr>
                    </table>
					</form>
				  <!-- FIN TABLA -->
				</div>
			</div>
		</div>
		
        <div id="sidebarInterno"> <!--BARRA LATERAL-->
			<h1 id='logo'><a href='homeInterno.html'>·Fractum!</a></h1> 	
                <nav id='nav'> 
              		<ul>
                		<div align='center'>
                       		<li class='current'>
                            	<a href='perfilInterno.html'>
                            		<img src='../../Recursos/images/DefaultAvatar.png'><em><strong><br>".$operarioInterno."</strong></em><strong></strong></img>
                            	</a>
                         	</li>
							<!--NOTIFICACIONES-->		
							<li class='current'><a href='listarPendienteCierre.html'>Pendientes: <span class="badge">100</span></a></li>
							<!-- FIN NOTIFICACIONES-->
							<li class='current'><strong><a href='listarIncidencias.html'>Listar Incidencias</a></strong></li>
							<li class='current'><a href='altaIncidencia.html'>Alta incidencia</a></li>
							<li class='current'><a href='listarMaquinas.html'>Listar maquinas</a></li>
                            <li class='current'><a href='mailto:jefe@fractum.com?cc=administracion@fractum.es'>Contacto jefe</a></li>
							<li class='current'><a href='#' id='Logout_Usuario' onclick ='return Salir_Usuario()'> > Log Out</a></li>
                            <form method='POST' action='#' style='text-align:center'>
                        	<section class='box search'>
								<input type='text' name='busqueda' placeholder='Buscar...'/>
                      		</section>
								<div hidden><input type='submit' name='buscar'/></div>
                            </form>
                      	</div>
					</ul>
				</nav>
		</div>
		<!-- FIN BARRA LATERAL -->
	</body>
</html>