<!DOCTYPE HTML>
<html>

	<head>
		<title>> To-Do (IU4L)</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="../../Recursos/js/jquery.min.js"></script>
		<script src="../../Recursos/js/skel.min.js"></script>
		<script src="../../Recursos/js/skel-layers.min.js"></script>
		<script src="../../Recursos/js/initJefe.js"></script>
		<script src="../../Recursos/js/Validaciones.js"></script>
		<noscript>
			<link rel="stylesheet" href="../../Recursos/css/skel.css" />
			<link rel="stylesheet" href="../../Recursos/css/style.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
			<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
		</noscript>
	</head>
	
	<body class="left-sidebar">
		<div id="wrapper"><!--WRAPPER-->
			<div id="content"><!--CONTENIDO-->
				<div class="inner">
                
                <header><h1 id="logo"><a>- RESUMEN USUARIOS -</a></h1></header>
										<!--INICIO TABLA-->
                                        <br>
                                        	<table class="default">
                                            <tr>
                                            	<th width='25%'>Nombre</th>
                                            	<th width='25%'>Localidad</th>
                                               	<th width='25%'>Email</th>
                                                <th width='25%'>Editar</th>
                                            </tr>
                                            </table>
                
                <form method='POST' action='AdminDetallesProyecto.php?usuario=$usuario&proyecto=$proyecto'> 
		
			<table class='default'>
				<tr> 
					<td> T&Iacute;TULO: </td> 
					<td><input type='text' class='text' disabled name='Titulo' value='$proyecto' /></td> 
					<td>PRIORIDAD:</td> 
					<td> 
						<select name='prioridad'> 
							<option hidden value='$row[2]' selected>";switch($row[2]){case 1:echo 'Alta';break;case 2:echo'Media';break;case 3:echo 'Baja';break;case 4:echo '-';break;default:echo '-';} echo "</option>
							<option value='1'>Alta</option> 
							<option value='2'>Media</option> 
							<option value='3'>Baja</option> 
							<option value='4'>-</option> 
						</select> 
					</td> 
				</tr> 
				<tr>
					<td width='30%'></td>
                    <td width='20%' colspan='2'><input type='submit' name='EliminarProyecto' value='ELIMINAR'></a></td>
					<td width='15%'><input type='submit' name='EditarProyecto'/></td>
					<td width='30%'></td>
				</tr> 
			 </table>
		</form>
                
				</div>
			</div>
		
			<div id='sidebarJefe'> <!--BARRA LATERAL-->
			<h1 id='header'><a href='homeJefe.html'>·Fractum!</a></h1>		
                <nav id='nav'> 
              		<ul>
                		<div align='center'>
                       		<li class='current'>
                            	<a href='perfil.html'>
                            		<img src='../../Recursos/images/DefaultAvatar.png'><em><strong><br>".$jefeNegocio"</strong></em><strong></strong>
                            	</a>
                         	</li>
							<li class='current'><a href='gestorIncidencias.html'>GESTIONAR INCIDENCIAS</a></li>
                           	<li class='current'><a href='gestorUsuarios.html'>GESTIONAR USUARIOS</a></li>
                           	<li class='current'><a href='gestorMaquinas.html'>GESTIONAR MÁQUINAS</a></li>
							<li class='current'><a href='gestorServicios.html'>GESTIONAR SERVCICOS</a></li>
							<li class='current'><a href='../login.html'>>Log Out</a></li>
                            <!--<form method='POST' action='AdminResultadosBusqueda.php' style='text-align:center'>-->
                        	<section class='box search'>
								<input type='text' name='busqueda' placeholder='Buscar...' value=''/>
                      		</section>
								<div hidden><input type='submit' name='buscar'/></div>
                            <!--</form>-->
                      	</div>
					</ul>
				</nav>
		</div>
		</div>
		<!-- FIN BARRA LATERAL -->
	</body>
</html>