<!DOCTYPE HTML>
<html>
<head>
	<title>·Fractum!</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script src="../../Recursos/js/jquery.min.js"></script>
	<script src="../../Recursos/js/skel.min.js"></script>
	<script src="../../Recursos/js/skel-layers.min.js"></script>
	<script src="../../Recursos/js/initJefe.js"></script>
	<script src="../../Recursos/js/Validaciones.js"></script>
	<noscript>
		<link rel="stylesheet" href="../../Recursos/css/skel.css" />
		<link rel="stylesheet" href="../../Recursos/css/style.css" />
		<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
		<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
	</noscript>
</head>
<body class="left-sidebar">
	<div id="wrapper"><!--WRAPPER-->
		<div id="content"><!--CONTENIDO-->
			<div class="inner"> 
				<!--IINICIO SECCIÓN-->
            	<h1 id="headerJefe"><a><i>SERVICIOS</i></a></h1>

            	<table class="default">
                    <tr>
                    	<th width="20%">#ID M&aacute;q.</th>
                    	<th width="20%">Periodicidad</th>
                       	<th width="20%">Coste</th>
                       	<th width="20%">Empresa</th>
                        <th width="10%">&nbsp;</th>
                        <th width="10%">&nbsp;</th>

                    </tr>
                </table>
        
        		<form method="POST" action="">
						<table class="default">
							<tr> 
								<td width="20%">RE-034985</td> 
								<td width="20%">Mensual</td> 
								<td width="20%">500 €/Mes</td>
								<td width="20%">Empresa 1</td> 
								<td width="10%"><button><a href="consultarServicio.html">Consultar</a></button></td>
								<td width="10%"><button><a onclick="return Eliminar_Elemento()">Eliminar</a></button></td>
							</tr>
							<tr> 
								<td width="20%">RE-034985</td> 
								<td width="20%">Mensual</td> 
								<td width="20%">500 €/Mes</td>
								<td width="20%">Empresa 1</td> 
								<td width="10%"><button><a href="consultarServicio.html">Consultar</a></button></td>
								<td width="10%"><button><a onclick="return Eliminar_Elemento()">Eliminar</a></button></td>
							</tr>
							<tr> 
								<td width="20%">RE-034985</td> 
								<td width="20%">Mensual</td> 
								<td width="20%">500 €/Mes</td>
								<td width="20%">Empresa 1</td> 
								<td width="10%"><button><a href="consultarServicio.html">Consultar</a></button></td>
								<td width="10%"><button><a onclick="return Eliminar_Elemento()">Eliminar</a></button></td>
							</tr>
			 			</table>
				</form>
				<!--FIN SECCIÓN-->
			</div>
		</div>
	
		<div id="sidebarJefe"> <!--BARRA LATERAL-->
		<h1 id="logo"><a href="homeJefe.html">·Fractum!</a></h1>		
            <nav id="nav"> 
          		<ul>
            		<div align="center">
                   		<li class="current">
                        	<a href="consultarPerfil.html">
                        		<img src="../../Recursos/images/DefaultAvatar.png"><em><strong><br>".$jefeNegocio"</strong></em><strong></strong>
                        	</a>
                     	</li>
                     	<li class='current'><a href='gestorPendientes.html'>Pendientes: <span class="badge">100</span></a></li>
						<li class="current"><a href="gestorIncidencias.html">GESTIONAR INCIDENCIAS</a></li>
                       	<li class="current"><a href="gestorUsuarios.html">GESTIONAR USUARIOS</a></li>
                       	<li class="current"><a href="gestorMaquinas.html">GESTIONAR MÁQUINAS</a></li>
						<li class="current"><a href="gestorServicios.html">GESTIONAR SERVCICOS</a></li>
						<li class='current'><a href='../Login.html' id='Logout_Usuario' onclick ='return Salir_Usuario()'> > Log Out</a></li>
                        <form method="POST" action="resultadosBusqueda.html" style="text-align:center">
                    	<section class="box search">
							<input type="text" name="busqueda" placeholder="Buscar..." value=""/>
                  		</section>
							<div hidden><input type="submit" name="buscar"/></div>
                        </form>
                  	</div>
				</ul>
			</nav>
	</div>
	</div>
	<!-- FIN BARRA LATERAL -->
</body>
</html>