<!DOCTYPE HTML>
<html>
<head>
	<title>> To-Do (IU4L)</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script src="../../Recursos/js/jquery.min.js"></script>
	<script src="../../Recursos/js/skel.min.js"></script>
	<script src="../../Recursos/js/skel-layers.min.js"></script>
	<script src="../../Recursos/js/initJefe.js"></script>
	<script src="../../Recursos/js/Validaciones.js"></script>
	<noscript>
		<link rel="stylesheet" href="../../Recursos/css/skel.css" />
		<link rel="stylesheet" href="../../Recursos/css/style.css" />
		<link rel="stylesheet" href="../../Recursos/css/style-desktop.css" />
		<link rel="stylesheet" href="../../Recursos/css/style-wide.css" />
	</noscript>
</head>
<body class="left-sidebar">
	<div id="wrapper"><!--WRAPPER-->
		<div id="content"><!--CONTENIDO-->
			<div class="inner">
				<!--IINICIO SECCIÓN-->
            	<h1 id="logo"><a><i>INCIDENCIA $#IDincidencia</i></a></h1>

        		<form method="POST" action="">

					<table class="default">
						<tr> 
							<td width="25%">Interno alta: </td> 
							<td width="25%"><input type="text" class="text" disabled name="iInternoAlta" value="~~~"/></td> 
							<td width="25%">Interno cierre: </td> 
							<td width="25%"> <input type="text" class="text" disabled name="iInternoCierre" value="~~~"/></td>
						</tr>
						<tr> 
							<td width="25%">#ID Incidencia: </td> 
							<td width="25%"><input type="text" class="text" disabled name="iID" value="~~~"/></td> 
							<td width="25%">#ID M&aacute;quina: </td> 
							<td width="25%"> <input type="text" class="text" disabled name="iMaquina" value="~~" /></td>
						</tr>
						<tr> 
							<td width="25%">Fecha alta: </td> 
							<td width="25%"><input type="text" class="text" disabled name="iFechaAlta" value="~/~/~" /></td> 
							<td width="25%">Fecha cierre: </td> 
							<td width="25%"> <input type="text" class="text" disabled name="iFechaCierre" value="~/~/~" /></td>
						</tr>
						<tr> 
							<td width="25%">Coste: </td> 
							<td width="25%"><input type="text" class="text" disabled name="iCoste" value="~~ €" /></td> 
							<td width="25%">Derivada: </td> 
							<td width="25%"> <input type="text" class="text" disabled name="iDerivada" value="~~~" /></td>
						</tr>
						<tr> 
							<td width="25%">Descripci&oacute;n: </td> 
							<td width="25%" colspan="3"><input type="text" class="text" disabled name="iDescripcion" value="~~~" /></td> 
						</tr>
						<tr>
							<td colspan="4"><input type="submit" name="iModificar" value="Modificar"></td>
						</tr> 
		 			</table>
				</form>
				<!--FIN SECCIÓN-->
			</div>
		</div>
	
		<div id="sidebarJefe"> <!--BARRA LATERAL-->
		<h1 id="header"><a href="homeJefe.html">·Fractum!</a></h1>		
            <nav id="nav"> 
          		<ul>
            		<div align="center">
                   		<li class="current">
                        	<a href="perfil.html">
                        		<img src="../../Recursos/images/DefaultAvatar.png"><em><strong><br>".$jefeNegocio"</strong></em><strong></strong>
                        	</a>
                     	</li>
						<li class="current"><a href="gestorIncidencias.html">GESTIONAR INCIDENCIAS</a></li>
                       	<li class="current"><a href="gestorUsuarios.html">GESTIONAR USUARIOS</a></li>
                       	<li class="current"><a href="gestorMaquinas.html">GESTIONAR MÁQUINAS</a></li>
						<li class="current"><a href="gestorServicios.html">GESTIONAR SERVCICOS</a></li>
						<li class="current"><a href="../login.html">>Log Out</a></li>
                        <form method="POST" action="" style="text-align:center">
                    	<section class="box search">
							<input type="text" name="busqueda" placeholder="Buscar..." value=""/>
                  		</section>
							<div hidden><input type="submit" name="buscar"/></div>
                        </form>
                  	</div>
				</ul>
			</nav>
	</div>
	</div>
	<!-- FIN BARRA LATERAL -->
</body>
</html>